/*-- scss:defaults --*/

// Import fonts 
@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Pixelify+Sans&display=swap');


// Colors
$lavender: #E6E6FA;
$white: #FFFFFF;
$black: #000000;
$blue: #0000FF;

// base document Colors
$navbar-bg: $white;
$navbar-fg: $black;
$body-bg: $lavender;
$footer-bg: $black;
$link-color: $blue;

/*-- scss:rules --*/

h1,h2 {
  letter-spacing: 5px;
  color: $black;
}

.title {
  color:black;
}

.center-text {
  text-align: center;
}
