/*-- scss:defaults --*/

// Colors
$lavender: #E4CBE8;
$light-green: #F0F4C2;
$orange: #F9B943;

// base document Colors
$navbar-bg: $lavender;
$navbar-fg: $orange;
$body-bg: $light-green;
$footer-bg: $orange;
$link-color: $lavender
